.RecipeListItem-action-panel {
        display: flex;
        flex-flow: nowrap;
        justify-content: space-around;
        margin-bottom: 10%;
        margin-top: 10%;
        padding: 10%;
    }

    .btn {
        background-color: skyblue;
        padding: 5px;
        border: 2px;
    }